<div class="row">
  <h2 class="mb-4 col-6">Event</h2>
  <div class="col-6 text-end">
    <button mat-button *ngIf="!_authService.isAdmin()" (click)="openEventForm()">Create Event</button>
  </div>
</div>


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

  @for (item of events; track $index) {
  <div class="col">
    <app-card-list [event]="item" (deleteEvent)="deleteEvent($event)" (joinEvent)="joinEvent($event)" (approvedEvent)="approvedEvent($event)"></app-card-list>
  </div>
  }
</div>
