<div class="row">
  <h2 class="mb-4 col-6">Event</h2>
  <div class="col-6 text-end">
    <button mat-mini-fab *ngIf="!_authService.isAdmin()" (click)="openEventForm()">
      <mat-icon class="mat-18">add_circle</mat-icon>
    </button>
  </div>
</div>

<mat-card appearance="outlined">
  <mat-card-header class="justify-content-end">
    <div class="row my-3">
      <app-input-search [search]="search" (searchQuery)="searchByQuery($event)"></app-input-search>
    </div>
  </mat-card-header>
  <mat-card-content>
    @if(events.length>0){
    <div class="row">
      <app-table [displayedColumns]="displayedColumns" [dataSource]="events" [actions]="actions"></app-table>
    </div>
    }@else {
    <div class="justify-content-center ng-star-inserted row text-center w-100"> No Data Exits</div>
    }
  </mat-card-content>
</mat-card>






<app-paginator [length]="total" [pageIndex]="page" [pageSize]="limit" (_pageEvent)="handlePage($event)">
</app-paginator>
