<div class="row">
  <h2 class="mb-4 col-6">Event</h2>
  <div class="col-6 text-end">
    <button mat-mini-fab *ngIf="!_authService.isAdmin()" (click)="openEventForm()">
      <mat-icon class="mat-18">add_circle</mat-icon>
    </button>
  </div>
</div>

<div class="row my-3">
  <app-input-search [search]="search" (searchQuery)="searchByQuery($event)"></app-input-search>
</div>


@if(events.length>0){
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
  @for (item of events; track $index) {
  <div class="col">
    <app-card-list [event]="item" (deleteEvent)="deleteEvent($event)" (joinEvent)="joinEvent($event)"
      (approvedEvent)="approvedEvent($event)"></app-card-list>
  </div>
  }
</div>
}@else {
<div class="justify-content-center ng-star-inserted row text-center w-100"> No Data Exits</div>
}


<app-paginator [length]="total" [pageIndex]="page" [pageSize]="limit" (_pageEvent)="handlePage($event)">
</app-paginator>
